#Symfony default
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

# Configuration files
/app/config/parameters.yml

# Composer
/composer.phar
/composer.lock

# Debug
/web/__dbg

# JetBrains IDE
.idea/
